@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
body{
    background-color:rgb(50,51,102);
    }

    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 2%;
    }

article{
    margin-top: 35px;
    margin-right: 55px;
    width: 70%;
    height: 600px;
    background-color: red;
    float: right;
    border:  thin solid black;
    position: relative;
}

aside{
    margin-top: 35px;
    margin-left: 50px;
    width: 20%;
    height: 600px;
    background-color:red;
    float: left;
    border: thin solid black;
}

.AsideFooter{
    width: 20%;
    height: 150px;
    background-color: rgb(50,51,102);
    border: thin solid rgb(50,51,102);
}

.ArticleFooter{
    border: thin solid rgb(50,51,102);
    text-align: center;
    font-size: 25px;
    background-color: rgb(50,51,102);
    width: 70%;
    height: 150px; 
    color: white;   

}

.Pedri img{
    width: 300px;
    height: 230px;
}
.Dest img{
    width: 300px;
    height: 200px;
}

.ImgClub img{
    width: 300px;
    height: 200px;
}
/*-----------------------------------------------*/

    /*Fichajes*/
    .PedriTexto {
        font-size: 30px;
    }
    .PedriTitulo{
        border: thin solid black;
        background: rgb(248,186,40);
        font-size: 40px;
        text-align: center;
    }
    .FuentePedri {
        font-size: 30px;
    }

    .navFuentePedri{
        font-size: 30px;
    }
    .DestTexto{
        font-size: 30px;
    }
    .DestTitulo {
        border: thin solid black;
        background: rgb(248,186,40);
        font-size: 40px;
        text-align: center;
    }
    .FuenteDest{
        font-size: 30px;
    }
    .navFuenteDest{
        font-size: 30px;
    }

    .ClubP{
        border: thin solid black;
        background: rgb(248,186,40);
        font-size: 40px;
        text-align: center;
    }
    .TextC{
        text-align: center;
        font-size: 20px;
    }


    /*Menu de Navegacion */
/* Ancho de celda*/
nav ul li {
    display: table-cell;
    width: 3%;
    text-align: center;
    border: thin solid black;
    background: rgb(248,186,40);
}

/*Ancho de la tabla*/
nav {
    display: table;
    width: 100%;
    margin:3;
    background: rgb(248,186,40);
}
/*Tipo de Tabla*/
nav ul {
    display: table-row;
    margin: 5;

}   
.NavText{
        font-size: 25px;
        color:black;
    }




