@charset "utf-8";
body{
    background-color:rgb(50,51,102);
    }

    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 0%;
    }

    aside{
        width: 20%;
        height: 200px;
         float: left; 
        background-color: white;
        margin:20px;
    }
    article{
        width: 38%;
        height: 200px;
        float: left;
        background-color: red;
        margin:20px;
       
    
    }
    .Aside2{
        width: 20%;
        height: 200px;
        float: left;
        background-color: yellow;
        margin:20px;
    }