@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
body{
    background-color:rgb(50,51,102);
    }

    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 0%;
    }

    aside{
        width: 20%;
        height: 400px;
         float: left; 
      
        margin:20px;
    }
    article{
        width: 38%;
        height: 400px;
        float: left;
        background-color:red;
    
        margin:20px;
       
    
    }
    .Aside2{
        width: 20%;
        height: 400px;
        float: left;
        margin:20px;
    }

    .AsideI img{
        width: 400px;
        height: 400px;

    }

    .Aside2 img{
        width: 400px;
        height: 400px; 
    }



    /*Modificaciones de Texto*/

    h1{
        font-size: 30px;
        text-align: center;
        border: thin solid black;
        background-color: rgb(248,186,40);
    }
    p{
        font-size: 25px;
    }

    div img{
        width: 200px;
        height: 125px;
    }

    .TextoN{
        font-size: 25px;
        color:rgb(248,186,40);
    }
    .NavText{
        font-size: 25px;
        color:black;
    }
    .ArticleFooter{
        text-align: center;
        font-size: 25px;
        background-color: rgb(50,51,102);
        color: white;
    }

    /*NAVEGACION */
    nav ul li {
        display: table-cell;
        width: 3%;
        text-align: center;
        border: thin solid black;
        
    }
    
    /*Ancho de la tabla*/
    nav {
        display: table;
        width: 100%;
        margin:3;
        background: rgb(248,186,40);
    }
    /*Tipo de Tabla*/
    nav ul {
        display: table-row;
        margin: 5;
    }   
  