@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
body{
    background-color:rgb(50,51,102);
    }

    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 0%;
    }
h1{
    font-size: 70px;
    text-align: center;
    border: thin solid black;
    background: rgb(248,186,40);
    border-radius: 10px ;
    font-family:font;
    
}
p{
    text-align: center;
font-size: 50px;
}

article{
    margin: 20px;
    border: thin solid black;
    background: red;
}
    /*footer*/
    footer {
        text-align: center;
        font-size: 25px;
        color:white
    }
       