@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
/* 
nike color 
*/

html, body {
    font-size: 20px;
} 
body{
background-color:rgb(50,51,102);
}
header img {
	float: none;
	width: 98%;
	margin: 1% 1% 1% 1%;
}


