@charset "utf-8";

@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
@media only screen and (min-width: 481px) {

    body{
        background-color:rgb(50,51,102);
        font-family: 'PT Serif', serif;
    
    }
    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 0%;
    }

    p{
        text-align: center;
        font-size: 25px;
        border: thin solid black;
        background: red;

    }
    h2{
        text-align: center;
        border: thin solid black;
        background: rgb(248,186,40);
        border-radius: 10px;
        font-size: 35px;
    }

    h1{
        text-align: center;
        border: thin solid black;
        background: rgb(248,186,40);
        border-radius: 10px;
        font-size: 50px;
    }
    .MessiB img{
        width: 500px;
        height: 500px;
    }
    .AsideFuente{
        font-size: 15px;
        color: black;
    }
        /*footer*/


}
footer {
    text-align: center;
    font-size: 25px;
    color:white
}

.imagen{
width: 500px;
height: 500px;
}

.NavegacionM nav a{
    font-size: 25px;
   color: black;
}
/*Ancho de la tabla*/
.NavegacionM nav {
    display: table;
    width: 100%;
    margin:3px;
    background: red;
}
/*Tipo de Tabla*/
.NavegacionM nav ul {
    display: table-row;
    margin: 5;
}


.NavTextI{
    background-color: red ;
}