@charset "utf-8";
@font-face {
    font-family: font;
    src: url("../Letra/PTSerif-Italic.ttf");
}
*{
    font-family:font;
}
body{
    background-color:rgb(50,51,102);
    }

    header img {
        float: none;
        width: 98%;
        margin: 2% 2% 2% 2%;
    }
    /*Menu de Navegacion */
/* Ancho de celda*/
nav ul li {
    display: table-cell;
    width: 3%;
    text-align: center;
    border: thin solid black;
    
}

/*Ancho de la tabla*/
nav {
    display: table;
    width: 100%;
    margin:3;
    background: rgb(248,186,40);
}
/*Tipo de Tabla*/
nav ul {
    display: table-row;
    margin: 5;
} 
.NavText{
    font-size: 25px;
    color:black;
}

h1{
    text-align: center;
    border: thin solid black;
    background:rgb(248,186,40) ;
    color:black;
    font-size: 45px;
}
p{
    font-size: 30px;
    color: black;
}
.Fuente{
    font-size: 50px;
    color: white;
}
.navFuente{
    font-size: 50px;
}
.RS{
    border: thin solid black;
    background: red;
}
.RedSocial{
    margin: 20px;
}
.RedSocial img{
    width: 300px;
    height: 300px;
}
footer {
    text-align: center;
    font-size: 25px;
    color:white
}